#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.article-card {
  border: 1px solid rgb(177, 111, 5);
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px ;
}

.comment-card {
  border: 1px solid rgb(177, 111, 5);
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px ;
}