#root {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
 min-height: 100vh;
  min-height: 100dvh;
  padding: 0 var;
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: rgb(13, 73, 91);
  color: rgb(255, 156, 56);
  margin: 1rem;
  padding: 1rem;
}

.article-card {
  border: 1px solid rgb(177, 111, 5);
  margin: 1rem auto;
  max-width: 75%;
  padding: 1rem;
  border-radius: 10px;
}

.comment-card {
  border: 1px solid rgb(177, 111, 5);
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.single-article {
  border: 1px solid rgb(177, 111, 5);
  margin: 1rem auto;
  max-width: 75%;
  border-radius: 10px;
}

.current-user img {
  width : 50px;
    height: 50px;
  border-radius: 50%;
}