#root {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
 min-height: 100vh;
  min-height: 100dvh;
  padding: 0 var;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 244, 234);
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: rgb(13, 73, 91);
  color: rgb(255, 156, 56);
  margin: 1rem;
  padding: 1rem;
}

.article-card {
  border: 1px solid rgb(177, 111, 5);
  margin: 1rem auto;
  max-width: 75%;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}

.comments-list {
  background-color: rgb(255, 244, 234);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.comment-card {
  border: 1px solid rgb(177, 111, 5);
  margin: 1rem auto;
  padding: 1rem;
  max-width: 90%;
  border-radius: 10px;
  background-color: rgb(250, 249, 247);
}

.comment-insert {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  border: solid 1px grey
}

.comment-insert input {
  width: 80%;
  height: 1rem;
  padding: 1rem;
  color: grey;
  border: none;
}

.comment-insert button {
  margin: 1rem;
  padding: 0.5rem;
}

.single-article {
  border: 1px solid rgb(177, 111, 5);
  margin: 1rem auto;
  max-width: 75%;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}

.current-user img {
  width : 50px;
    height: 50px;
  border-radius: 50%;
}