:root {
  font-family: ui-sans-serif, system-ui, sans-serif;
  line-height: 1.5;
  
  
  --max-width: 1200px;
  --spacing: 1rem;
  --radius: 12px;
  --color-bg: rgb(255, 244, 234);
  --color-primary: rgb(13, 73, 91);
  --color-accent: rgb(255, 156, 56);
}

body {
  margin: 0 auto;
  padding: 10 var(--spacing);
  background: #f9f9f9;
  color: #222;
}
